.machine-no{
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 20px;
    color: #0a3ad8;
    margin-bottom: 100px;
    cursor: pointer;
    /* border: 2px solid violet;
    border-radius: 20px; */
    /* padding: 10px; */
    /* padding-left: 50px;
    padding-right: 50px; */
}
.machineNo-item-name{
    padding-left: 30px;
    padding-right: 30px;
}